.header {
  background-color: #107266;
}
.header-decoration {
  text-color: #fff;
  margin: 15px;
  margin-left: 30px;    
}

  .style-check{
    font-size: 1em; 
    color: green; 
    padding:15px ;
  }

  .style-close{
    font-size: 1em; 
    color: red;
  }

/*invisivel*/
.invisivel{
    display: none;
}

/*esmaecer*/
.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

h1{
  color: #107266;
  font-family:"Nolan Next";
  font-weight: bold;
  font-size: 2.6em;

}

th{
  color: #107266;
  font-family:"Nolan Next";
  font-size: 1.6em;
  font-weight: bold;
}
tr{
  text-align: left;
}
.question{
  color: #107266;
  font-family:"Nolan Next";
  font-size: 1.6em;
  font-weight: bold;
}
.size{
  font-size: 1.0em;
}

button{
  background-color: chartreuse;
  color: aqua;
}
